[Unit]
Description=Nabaztag text-to-speech daemon
After=nabd.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
WorkingDirectory=/opt/pynab
ExecStart=/opt/pynab/venv/bin/python -m nabttsd.nabttsd
PIDFile=/run/nabttsd.pid

[Install]
WantedBy=multi-user.target
