[Unit]
Description=Nabaztag MQTT bridge daemon
After=nabd.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
WorkingDirectory=/opt/pynab
ExecStart=/opt/pynab/venv/bin/python -m nabmqttd.nabmqttd
PIDFile=/run/nabmqttd.pid

[Install]
WantedBy=multi-user.target
